{
  "ASES_URL": "your_ases_url",
  "LOGIN_DROP_DOWN_INDEX": 5,
  "TIME_SLOTS": {
    "Mo": [
      "8:00",
      "12:00",
      "13:00",
      "18:00"
    ],
    "Di": [
      "8:00",
      "12:00",
      "13:00",
      "18:00"
    ],
    "Mi": [
      "8:00",
      "12:00",
      "13:00",
      "18:00"
    ],
    "Do": [
      "8:00",
      "12:00",
      "13:00",
      "18:00"
    ],
    "Fr": [
      "8:00",
      "12:00",
      "13:00",
      "16:00"
    ],
  "BUFFER_TIME": 0.3,
  "FINAL_WAIT_IN_SEC": 60
  }
}